<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">投稿編集</h2>
        <%# 部分テンプレートでフォームを表示する %>
        <%= form_with model: @motivation, url: motivation_path, method: :put,  local: true do |f|%>
         <%= render 'shared/error_messages', model: f.object %>
          <div class="field">
            <%= f.label :title, "タイトル" %><br />
            <%= f.text_field :title %>
          </div>

          <div class="field">
            <%= f.label :image, "写真" %><br />
             <%= f.file_field :image, id:"item-image" %>
          </div>

          <div class="field">
            <%= f.label :purchase_date, "購入日" %><br />
            <%= f.date_field :purchase_date, class: :form__text %>
          </div>

          <div class="field">
            <%= f.label :category, "カテゴリー" %><br />
           <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box",id:"item-category"}) %>
          </div>

          <div class="field">
            <%= f.label :person, "誰の紹介ですか？" %><br />
            <%= f.text_area :person, class: :form__text %>
          </div>

          <div class="field">
            <%= f.label :comment, "何といっていましたか？" %><br />
            <%= f.text_field :comment %>
          </div>

          <div class="field">
            <%= f.label :intuition, "本を見た時どう思いましたか？" %><br />
            <%= f.text_field :intuition %>
          </div>

          <div class="field">
            <%= f.label :purpose, "この本をなぜ読むのですか？" %><br />
            <%= f.text_field :purpose %>
          </div>

          <div class="actions">
            <%= f.submit "保存する", class: :form__btn  %>
            <%= link_to "もどる", motivation_path(@motivation), class: :form__btn %>
          </div>
          
        <% end %>
    </div>
  </div>
</div>