<div class="main">
  <div class="item-show">
  <div class="item-box">
         <tr>

          <td class="detail-value"><%=image_tag @motivation.image %></td>
         </tr>
      <div class="item-explain-box">
      <table class="detail-table">  <%# table tbody 項目の枠をつける %>
      <tbody>

         <tr>
          <th class="detail-item">ユーザー名</th>
          <td class="detail-value"><%= @motivation.user.nickname %></td>
         </tr>

         <tr>
          <th class="detail-item">タイトル</th>
          <td class="detail-value"><%= @motivation.title %></td>
         </tr

         <tr>
          <th class="detail-item">購入日</th>
          <td class="detail-value"><%= @motivation.purchase_date %></td>
         </tr> 

         <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @motivation.category.name %></td>
         </tr> 

         <tr>
          <th class="detail-item">誰の紹介ですか？</th>
          <td class="detail-value"><%= @motivation.person %></td>
         </tr> 

         <tr>
          <th class="detail-item">何といっていましたか？</th>
          <td class="detail-value"><%= @motivation.comment %></td>
         </tr> 

         <tr>
          <th class="detail-item">本を見た時どう思いましたか？</th>
          <td class="detail-value"><%= @motivation.intuition %></td>
         </tr> 

         <tr>
          <th class="detail-item">この本をなぜ読むのですか？</th>
          <td class="detail-value"><%= @motivation.purpose %></td>
         </tr> 
        </div>
        </tbody> 
    </table>

            <div class="prototype_manage">
         
          <% if current_user == @motivation.user%>
            <div class="prototype_manage">
              <%= link_to "編集する", edit_motivation_path(@motivation), class: :form__btn %>
              <%= link_to "削除する", motivation_path(@motivation), method: :delete, class: :form__btn %>
              <%= link_to "もどる", root_path, class: :form__btn %>
            </div>
           <% elsif user_signed_in? %>
              <%= form_with(model: [@motivation, @comment], url: motivation_comments_path(@motivation.id), local: true) do |f| %>
              <%= f.text_area :text, placeholder: 'type a message' %><br />
              <%= f.submit "コメントする", class: :form__btn %>
              <% end %>
              <%= link_to "もどる", root_path, class: :form__btn %>
            <% else %>
              <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
              <%= link_to "もどる", root_path, class: :form__btn %>
            </div>
          <% end %>

          <div class="comments">
          <h4>＜コメント一覧＞</h4>
          <%= @comments.each do |comment| %>
            <p>
              <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %></strong>
              <%= comment.text %>
            </p>
           <% end %>
          </div>
    
  </div>
</div>
</div>
